:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --darkColor: #181818;
  --lightColor: whitesmoke;
  --accentColor: #0D0D35;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html_body {
  height:100%;
}

body {
  background-color: var(--darkColor);
  color: var(--lightColor);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

main {
  flex:1;
  display: flex;
}

#gameCanvas {
  border: 3px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

