:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --darkColor: #181818;
  --lightColor: whitesmoke;
  --accentColor: #0D0D35;
  --buttonColor: #1a73e8;
  --buttonHover: #155ab6;
  --inputBackground: #252525;
  --inputBorder: #444;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html_body {
  height:100%;
}

body {
  background-color: var(--darkColor);
  color: var(--lightColor);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#authPage {
  background-color: var(--accentColor);
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  width: 350px;
  text-align: center;
}

#formTitle {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold;
  color: var(--lightColor);
}



#authForm input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid var(--inputBorder);
  background-color: var(--inputBackground);
  color: var(--lightColor);
  font-size: 16px;
}

#authForm input::placeholder {
  color: #bbb;
}

#submitButton {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  background-color: var(--buttonColor);
  color: var(--lightColor);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submitButton:hover {
  background-color: var(--buttonHover);
}

#toggleText {
  font-size: 14px;
  color: #ccc;
}

#toggleButton {
  background: none;
  border: none;
  color: var(--buttonColor);
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
  font-size: 14px;
  transition: color 0.2s;
}

#toggleButton:hover {
  color: var(--buttonHover);
}

header,footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

main {
  flex:1;
  display: flex;
}

#login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#auth-container input, 
#auth-container button {
  margin: 8px;
  padding: 12px;
  font-size: 16px;
}

#authMessage {
  margin-top: 10px;
  color: red;
}

#gameCanvas {
  border: 3px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

